USE [Bdanvar]
GO
/****** Object:  Table [dbo].[Material_type_import]    Script Date: 18.04.2026 17:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type_import](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Procent] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Material_type_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_type_import_ID]    Script Date: 18.04.2026 17:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type_import_ID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name_material] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Material_type_import_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 18.04.2026 17:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[ID] [int] NOT NULL,
	[Material] [nvarchar](30) NOT NULL,
	[Cost] [nvarchar](30) NOT NULL,
	[Employees] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Materials] ([ID], [Material], [Cost], [Employees]) VALUES (1, N'Клей', N'500', N'Рияз Рустемович')
INSERT [dbo].[Materials] ([ID], [Material], [Cost], [Employees]) VALUES (2, N'Обои', N'1000 ', N'Латифа Ильшатовна')
INSERT [dbo].[Materials] ([ID], [Material], [Cost], [Employees]) VALUES (3, N'Дисперсия ', N'1500', N'Эмиль бубнов ')
GO
ALTER TABLE [dbo].[Material_type_import]  WITH CHECK ADD  CONSTRAINT [FK_Material_type_import_Material_type_import_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[Material_type_import_ID] ([ID])
GO
ALTER TABLE [dbo].[Material_type_import] CHECK CONSTRAINT [FK_Material_type_import_Material_type_import_ID]
GO
ALTER TABLE [dbo].[Material_type_import]  WITH CHECK ADD  CONSTRAINT [FK_Material_type_import_Materials] FOREIGN KEY([ID])
REFERENCES [dbo].[Materials] ([ID])
GO
ALTER TABLE [dbo].[Material_type_import] CHECK CONSTRAINT [FK_Material_type_import_Materials]
GO
